DB_PASS=postgres
DB_USER=postgres

# server envs
DATABASE_URL=postgresql://postgres:postgres@database:5432/db_petmatch

BETTER_AUTH_SECRET=MjOrUrgavBQOVKBDav7ujaa2fXsZQiBi
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

RESEND_API_KEY=re_aXBf2ax6_CUA4q6Y1vM8cb2NupXpj5ybP
RESEND_SENDER_EMAIL=onboarding@resend.dev

# web envs
VITE_API_URL=http://localhost:3000